* {
    font-family: "Courier New", "monospace";
}

h1, h2, h5 {
    text-align: center !important;
    color: #0d0000;
}

h5 {width: inherit;margin: auto;font-size: 27px;color: #f4e6c0;}

.heroBox {
    height: 155px;
}

.heroT, .heroS{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.row5 {
    height: 190px;
}

.logBox {
    background: #f7e4b89c;
    border: solid gray;
    padding-top: 1px;
    padding-bottom:  2px;
    height: 150px;
}

.logText {
font-size:  20px;
}

h1 {
    /* z-index:  3; */
    padding: 16px 0 0 0;
    margin: 0 0 25px 0;
}

#top {
    
background: #ecb87540;
    
border-bottom: gray 2px solid;
    
margin-bottom: 37px;
}

#backGround {
    position: fixed;
    width: 100%;
    height: 100%;
}